* {
    margin: 0;
    padding: 0;
}

$color-primary: #f9ed69;
$color-secondary: #f08a5d;
$color-tertiary: #b83b53;
$color-text-dark: #333;
$color-text-light: #eee;

$width-buttons: 150px;

nav {
    margin: 30px;
    background-color: $color-primary;

    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

.navigation {
    list-style: none;
    float: left;

    li{
        display: inline-block;
        margin-left: 30px;

        &:first-child{
            margin: 0;
        }

        a{
            text-decoration: none;
            text-transform: uppercase;
            color: $color-text-dark;
        }
    }
}

.buttons{
    float: right;
}

.btn-main,
.btn-hot {
    padding: 10px;
    display: inline-block;
    text-align: center;
    border-radius: 100px;
    text-decoration: none;
    text-transform: uppercase;
    color: $color-text-light;
    width: $width-buttons;
}

.btn-main {
    background-color: $color-secondary;
}

.btn-hot {
    background-color: $color-tertiary;
}